/*body

 header h1 {

              font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
             }
h2 {
    font-style: italic;
    font-weight: bold
}*/


/*header
    p {

    color: maroon;
    font-size: 1.5rem;
    font-weigth: bold 
}

footer {

    color: yellowgreen
}*/

*{
    box-sizing: border-box;
}

h1 {
	color: forestgreen;
	font-family: 'Rammetto One', cursive;;
}

h2{

}

body{
	color: blue;
	font-family: 'Roboto', sans-serif;
}
/*margen pilas*/

.contenedor{
    width: 90%;
    max-width: 10080px;
    min-width: 480px;
    margin-left: auto;
    margin-right: auto;
    margin-top:  2rem;
    margin-bottom: 2rem
}

p {
    width: 60%

}