/*body

 header h1 {

              font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
             }
h2 {
    font-style: italic;
    font-weight: bold
}*/


/*header
    p {

    color: maroon;
    font-size: 1.5rem;
    font-weigth: bold 
}

footer {

    color: yellowgreen
}*/

*{
    box-sizing: border-box;
}

h1 {
	color: forestgreen;
    font-family: 'Rammetto One';
}


body{
	color: #566573  ;
	font-family: 'Roboto', sans-serif;
    background-color: yellowgreen;
    height: 100vh;
    text-align: center
    
    }
/*margen pilas*/

.contenedor{
    width: 90%;
    max-width: 10080px;
    min-width: 480px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom:2rem;
    background: aqua;
    text-align: center
}

p{
    width: 60%;
    margin-left: center;
    margin-right: center;

}


table.t1{
    empty-cells: hide;
    border-collapse: collapse;
    border: .1rem solid
}

table.t1:hover {
    border-collapse: separate;
    border-spacing: .6rem;
}
table.t1 th{
    padding: 2rem;
}
table.t1 td{
    text-align: right;
    padding-right: 1rem;
    border: .1rem solid;
}




img{
    width: 70%;
   
}

video{
    width: 70%
}


